<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/todos">Todo List</a>
      
      <li class="nav-item">
        <a   class="home" class="nav-link active"  routerLink="">Home</a>
      </li>
      
      
    </div>
    
  </nav>
  <div class="container">
    <h1 class="text-center"> Welcome to Todo List</h1>
    
    <!-- <app-todos></app-todos> -->
    
    <router-outlet></router-outlet>
    
    
  </div>
  
</div>

<ng-confirm></ng-confirm>