<h6 class="getStarted"> Get started by entering your todos below.
    Add button only adds your task into the list when title and description of a todo are mentioned <span class="start">. </span>Show-All button will display the titles of all your todos <span class="start">.</span></h6>
    <p class="addMessage">{{ addMessage }}</p>
<app-add-todo (todoAdd)="addTodo($event)" ></app-add-todo>
<h4>Your Todos</h4>
<div *ngIf="this.todos.length===0; else elseBlock">No todos to display</div>
<ng-template #elseBlock>
    <div *ngFor="let todo of todos ; index as i">
        <app-todo-item class="todo" [todo]="todo" [i]="i" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-item>

    </div>
</ng-template>